.project-container {
  max-width: 120rem;
  margin: 10rem auto;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  .card {
    background-color: #eee;
    color: #000;
    padding: 5rem;
    border-radius: 9px;

    display: flex;
    flex-direction: column;

    transition: all 0.3s;

    ul {
      li {
        line-height: 1.5;
        &:last-child {
          margin-bottom: 1rem;
        }
      }
    }

    .keyword {
      font-style: italic;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    .heading-secondary {
      font-size: 2.4rem;
      margin-bottom: 3.2rem;
      text-transform: uppercase;
    }

    .link:link,
    .link:visited {
      font-size: 2.2rem;
      text-decoration: none;
      color: #555;
    }
    .link:hover,
    .link:active {
      color: #222;
    }
  }

  .card:hover {
    transform: translateY(-0.8rem) scale(1.1);
  }
}
