@import "./../../variables.scss";

.home {
  max-width: 100rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat (2, min-content);

  &__summary {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    align-items: center;
    justify-items: start;
    column-gap: 5rem;

    padding: 5rem;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 1fr;

      row-gap: 4rem;
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      animation: leftToRight 2s ease-out;

      &-resume:link,
      &-resume:visited {
        font-size: 2rem;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0.8rem 9rem;
        color: $color-white;
        background-color: $color-primary;
        border-radius: 100px;
        font-weight: 400;

        transition: all 0.2s;
      }

      &-resume:hover {
        background-color: $color-primary-dark-1;
        transform: translateY(-0.2rem);
      }

      &-resume:active {
        transform: translateY(-0.1rem);
      }

      &-para {
        font-size: 1.8rem;
      }
    }

    &-img {
      width: 130%;
      animation: rightToLeft 2s ease-out;

      @media only screen and (max-width: $bp-large) {
        width: 100%;
      }

      @media only screen and (max-width: $bp-medium) {
        display: none;
      }
    }
  }

  &__education-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    background-color: $color-primary-light-3;
    padding: 3rem;
    border-radius: 9px;

    transition: all 0.2s;

    @media only screen and (max-width: $bp-medium-large) {
      display: flex;
      flex-direction: column;

      align-items: center;
      max-width: 90%;
      margin: 4rem auto;
    }

    &:hover {
      transform: translateY(-2rem) scale(1.1);
    }

    margin-bottom: 4rem;

    &__info1 {
      margin-left: 5rem;

      @media only screen and (max-width: $bp-medium-large) {
        margin: 0;
      }
    }

    &__info2 {
      margin-right: 5rem;
      justify-self: flex-end;

      @media only screen and (max-width: $bp-medium-large) {
        margin: 0;
      }
    }
  }
}

@keyframes leftToRight {
  0% {
    transform: translateX(-50rem);
  }

  100% {
    transform: translateX(0rem);
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(50rem);
  }

  100% {
    transform: translateX(0rem);
  }
}
