@import "./../../variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 3rem;

  background-color: $color-primary-light-2;

  transition: all 0.5s ease;

  &__left-head:link,
  &__left-head:visited {
    text-decoration: none;
    color: $color-grey-dark-2;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 400;

    @media only screen and (max-width: $bp-medium) {
      font-size: 4.4rem;
    }
  }

  &__left-head:hover,
  &__left-head:active {
    color: $color-primary-dark-2;
  }

  &__right {
    list-style: none;
    font-size: 2.2rem;
    font-weight: 600;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;

    @media only screen and (max-width: $bp-largest) {
      gap: 3rem;
    }

    @media only screen and (max-width: $bp-medium-large) {
      gap: 1.5rem;
    }

    @media only screen and (max-width: $bp-medium) {
      display: none;

      transition: all 0.5s ease;
    }

    &-link:link,
    &-link:visited {
      text-decoration: none;
      color: $color-grey-dark-2;
    }

    &-link:hover,
    &-link:active {
      text-decoration: none;
      color: $color-primary-dark-2;
    }

    // &-cta:link,
    // &-cta:visited {
    //   padding: 1rem 6rem;
    //   background-color: $color-primary;
    //   text-decoration: none;
    //   color: $color-white;
    //   border-radius: 100px;

    //   transition: all 0.2s;
    // }

    // &-cta:hover {
    //   background-color: $color-primary-dark-2;
    //   box-shadow: 0 2rem 4rem rgba($color-black, 0.15);
    //   transform: translateY(-0.2rem);
    // }

    // &-cta:active {
    //   transform: translateY(0.1rem);
    // }
  }
}

.navMenu {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 7rem;
  color: $color-grey-dark-2;

  transition: all 0.5s ease;

  @media only screen and (max-width: $bp-medium) {
    display: block;
    margin-top: 1rem;

    transition: all 0.5s ease;
  }
}

.navbar__right-mobile {
  position: absolute;
  list-style: none;
  background-color: $color-primary;
  top: 16rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 15rem);
  font-size: 4rem;
  text-align: center;
  padding-top: 5rem;
  margin-top: -1rem;

  display: flex;
  flex-direction: column;
  gap: 5rem;

  transition: all 0.5s ease;

  z-index: 100;
}
