@import "./../../variables.scss";

.contact {
  max-width: 100rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 0.7fr 1.3fr;

  padding: 5rem 0;

  @media only screen and (max-width: $bp-large) {
    padding: 5rem 3rem;
  }

  @media only screen and (max-width: $bp-medium-large) {
    grid-template-columns: 1fr;
    row-gap: 7rem;

    padding: 5rem 5rem;
  }

  &__infoAll {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;

    align-self: center;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 1.8rem;

    transition: all 0.2s;

    ion-icon {
      font-size: 3rem;
    }

    &:hover {
      transform: translateX(3rem) scale(1.1);
      color: $color-primary-dark-1;
    }

    &:hover &-link {
      color: $color-primary-dark-1;
    }

    &-link:link,
    &-link:visited {
      text-decoration: none;
      color: $color-grey-dark-2;
    }
  }

  &__form {
    @media only screen and (max-width: $bp-medium-large) {
      grid-row: 1 / 2;
    }

    &__input-box {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      label {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0.8rem;
      }

      textarea {
        padding: 1.5rem 3rem;
        width: 100%;
        font-size: 1.8rem;
        margin-bottom: 3rem;
        border-radius: 9px;
        border: solid 1px #777;
        resize: vertical;

        &::placeholder {
          font-size: 1.6rem;
          font-weight: 300;
          color: #ccc;
        }
      }
    }
  }
}
