* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto" sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.6;
  background-color: #000;
}

.btn-container {
  display: flex;
  gap: 2rem;
}

.margin-bottom-md {
  margin-bottom: 4.8rem;
}
