$color-grey-dark-1: #222;
$color-grey-dark-2: #555;

$color-primary: #22b8cf;
$color-primary-dark-1: #1b93a6;
$color-primary-dark-2: #146e7c;
$color-primary-light-1: #a7e3ec;
$color-primary-light-2: #e9f8fa;
$color-primary-light-3: #bdeaf1;

$color-white: #fff;
$color-black: #000;

$bp-largest: 75em; // 1200px
$bp-large: 65.625em; // 1050px
$bp-medium-large: 53.125em; // 950px
$bp-medium: 48.75em; // 780px
$bp-small: 35em; // 560px
